In [2]:
import numpy as np
import pandas as pd

In [3]:
# import options data
data = pd.read_csv("NDXP.csv").sort_values(by=['quote_date', 'strike'])
data

       quote_date  expiration   strike option_type  bid_1545  ask_1545
10542  2018-01-04  2018-02-02   6200.0           C     401.9     423.0
10543  2018-01-04  2018-02-02   6200.0           P      11.8      16.0
10580  2018-01-04  2018-02-09   6200.0           C     406.2     427.0
10581  2018-01-04  2018-02-09   6200.0           P      18.7      23.0
10618  2018-01-04  2018-02-23   6200.0           C     417.5     439.0
...           ...         ...      ...         ...       ...       ...
3261   2022-12-30  2023-01-06  16000.0           P    5106.0    5122.1
5600   2022-12-30  2023-01-13  16000.0           C       0.0       0.9
5601   2022-12-30  2023-01-13  16000.0           P    5089.8    5106.2
7656   2022-12-30  2023-01-27  16000.0           C       0.0       1.2
7657   2022-12-30  2023-01-27  16000.0           P    5063.3    5080.5

[7226461 rows x 6 columns]

In [4]:
data.query("bid_1545 == 0 & ask_1545 ==0")

         quote_date  expiration  strike option_type  bid_1545  ask_1545
1319422  2020-03-18  2020-04-03  7525.0           C       0.0       0.0
1319423  2020-03-18  2020-04-03  7525.0           P       0.0       0.0
1319424  2020-03-18  2020-04-03  7550.0           C       0.0       0.0
1319425  2020-03-18  2020-04-03  7550.0           P       0.0       0.0
1319426  2020-03-18  2020-04-03  7575.0           C       0.0       0.0
1319427  2020-03-18  2020-04-03  7575.0           P       0.0       0.0
1319430  2020-03-18  2020-04-03  7625.0           C       0.0       0.0
1319431  2020-03-18  2020-04-03  7625.0           P       0.0       0.0
1343356  2020-03-25  2020-05-01  6060.0           C       0.0       0.0
1343357  2020-03-25  2020-05-01  6060.0           P       0.0       0.0

In [5]:
# import interest rate data
rates = pd.read_csv("DGS1MO.csv").ffill()
rates.replace('.', pd.NA, inplace=True)
rates.columns = ['date','rate']
rates['date'] = pd.to_datetime(rates['date'])
rates['rate'] = (pd.to_numeric(rates['rate'])/100).fillna(method='ffill')
rates

           date    rate
0    2018-01-02  0.0129
1    2018-01-03  0.0129
2    2018-01-04  0.0128
3    2018-01-05  0.0127
4    2018-01-08  0.0130
...         ...     ...
1299 2022-12-26  0.0380
1300 2022-12-27  0.0387
1301 2022-12-28  0.0386
1302 2022-12-29  0.0404
1303 2022-12-30  0.0412

[1304 rows x 2 columns]

In [6]:
# second fridays between 2018 and 2022

all_fridays = pd.date_range(start="2018-01-01", end="2022-12-31", freq='W-FRI') ## all fridays in the period

second_fridays = [] # initialize second fridays list

for friday in all_fridays: # loop through every friday and determine if it is second friday
    month_start = pd.offsets.MonthBegin(1) # create a date offset to move friday to start of the month
    if len(pd.date_range(start = friday - month_start, end = friday, freq='W-FRI')) == 2: # if number of fridays since start of month is 2:
        second_fridays.append(friday)

second_fridays = pd.Series(second_fridays)
second_fridays

0    2018-01-12
1    2018-02-09
2    2018-03-09
3    2018-04-13
4    2018-05-11
5    2018-06-08
6    2018-07-13
7    2018-08-10
8    2018-09-14
9    2018-10-12
10   2018-11-09
11   2018-12-14
12   2019-01-11
13   2019-02-08
14   2019-03-08
15   2019-04-12
16   2019-05-10
17   2019-06-14
18   2019-07-12
19   2019-08-09
20   2019-09-13
21   2019-10-11
22   2019-11-08
23   2019-12-13
24   2020-01-10
25   2020-02-14
26   2020-03-13
27   2020-04-10
28   2020-05-08
29   2020-06-12
30   2020-07-10
31   2020-08-14
32   2020-09-11
33   2020-10-09
34   2020-11-13
35   2020-12-11
36   2021-01-08
37   2021-02-12
38   2021-03-12
39   2021-04-09
40   2021-05-14
41   2021-06-11
42   2021-07-09
43   2021-08-13
44   2021-09-10
45   2021-10-08
46   2021-11-12
47   2021-12-10
48   2022-01-14
49   2022-02-11
50   2022-03-11
51   2022-04-08
52   2022-05-13
53   2022-06-10
54   2022-07-08
55   2022-08-12
56   2022-09-09
57   2022-10-14
58   2022-11-11
59   2022-12-09
dtype: datetime64[ns]

In [7]:
# make sure dates are datetime format
data['expiration'] = pd.to_datetime(data['expiration'])
data['quote_date'] = pd.to_datetime(data['quote_date'])

# perform a left join to get second-friday expirations
second_fridays_series = pd.Series(second_fridays)
second_friday_data = data[data['expiration'].isin(second_fridays_series)]

# only get quotes that are one month before every expiration
second_friday_data = second_friday_data[(second_friday_data['expiration'] - second_friday_data['quote_date']).dt.days == 28]
second_friday_data

        quote_date expiration   strike option_type  bid_1545  ask_1545
12652   2018-01-12 2018-02-09   5400.0           C   1347.00   1368.30
12653   2018-01-12 2018-02-09   5400.0           P      0.05      3.10
12654   2018-01-12 2018-02-09   5500.0           C   1248.00   1269.00
12655   2018-01-12 2018-02-09   5500.0           P      0.25      3.70
12656   2018-01-12 2018-02-09   5600.0           C   1151.60   1165.90
...            ...        ...      ...         ...       ...       ...
6823188 2022-11-11 2022-12-09  14800.0           P   2939.00   2963.80
6823189 2022-11-11 2022-12-09  14900.0           C      0.00      2.10
6823190 2022-11-11 2022-12-09  14900.0           P   3038.60   3063.30
6823191 2022-11-11 2022-12-09  15000.0           C      0.00      1.95
6823192 2022-11-11 2022-12-09  15000.0           P   3137.90   3162.90

[21796 rows x 6 columns]

In [8]:
# Make sure bid < ask ( buy < sell)
second_friday_data = second_friday_data[second_friday_data['bid_1545'] < second_friday_data['ask_1545']]
second_friday_data

        quote_date expiration   strike option_type  bid_1545  ask_1545
12652   2018-01-12 2018-02-09   5400.0           C   1347.00   1368.30
12653   2018-01-12 2018-02-09   5400.0           P      0.05      3.10
12654   2018-01-12 2018-02-09   5500.0           C   1248.00   1269.00
12655   2018-01-12 2018-02-09   5500.0           P      0.25      3.70
12656   2018-01-12 2018-02-09   5600.0           C   1151.60   1165.90
...            ...        ...      ...         ...       ...       ...
6823188 2022-11-11 2022-12-09  14800.0           P   2939.00   2963.80
6823189 2022-11-11 2022-12-09  14900.0           C      0.00      2.10
6823190 2022-11-11 2022-12-09  14900.0           P   3038.60   3063.30
6823191 2022-11-11 2022-12-09  15000.0           C      0.00      1.95
6823192 2022-11-11 2022-12-09  15000.0           P   3137.90   3162.90

[21796 rows x 6 columns]

In [9]:
# organise puts and calls for each strike and date
calls = second_friday_data[second_friday_data['option_type'] == "C"]
puts = second_friday_data[second_friday_data['option_type'] == "P"]
merged_data = pd.merge(calls, puts, on=['quote_date', 'strike'], suffixes=('_C','_P'), how='inner')

# get 1 month rates on each date
merged_data = pd.merge(merged_data, rates, left_on='quote_date', right_on='date', how='left')

# use put call parity to get underlying price
merged_data['implied_S'] = (merged_data['bid_1545_C'] + merged_data['ask_1545_C'])/2 + merged_data['strike']/((1+merged_data['rate'])**(1/12)) - (merged_data['bid_1545_P'] + merged_data['ask_1545_P'])/2
merged_data['moneyness'] = merged_data['implied_S'] - merged_data['strike']
merged_data

,quote_date,expiration_C,strike,option_type_C,bid_1545_C,ask_1545_C,expiration_P,option_type_P,bid_1545_P,ask_1545_P,date,rate,implied_S,moneyness
0,2018-01-12,2018-02-09,5400.0,C,1347.00,1368.30,2018-02-09,P,0.05,3.1,2018-01-12,0.0131,6750.221453,1350.221453
1,2018-01-12,2018-02-09,5500.0,C,1248.00,1269.00,2018-02-09,P,0.25,3.7,2018-01-12,0.0131,6750.563054,1250.563054
2,2018-01-12,2018-02-09,5600.0,C,1151.60,1165.90,2018-02-09,P,0.65,4.2,2018-01-12,0.0131,6750.254655,1150.254655
3,2018-01-12,2018-02-09,5700.0,C,1052.40,1066.70,2018-02-09,P,1.70,4.3,2018-01-12,0.0131,6750.371256,1050.371256
4,2018-01-12,2018-02-09,5800.0,C,953.10,967.40,2018-02-09,P,2.40,5.1,2018-01-12,0.0131,6750.212857,950.212857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10893,2022-11-11,2022-12-09,14600.0,C,0.20,2.60,2022-12-09,P,2740.00,2764.7,2022-11-11,0.0371,11804.796038,-2795.203962
10894,2022-11-11,2022-12-09,14700.0,C,0.10,2.40,2022-12-09,P,2839.40,2864.2,2022-11-11,0.0371,11804.892928,-2895.107072
10895,2022-11-11,2022-12-09,14800.0,C,0.05,2.25,2022-12-09,P,2939.00,2963.8,2022-11-11,0.0371,11804.889819,-2995.110181
10896,2022-11-11,2022-12-09,14900.0,C,0.00,2.10,2022-12-09,P,3038.60,3063.3,2022-11-11,0.0371,11804.936710,-3095.063290
10897,2022-11-11,2022-12-09,15000.0,C,0.00,1.95,2022-12-09,P,3137.90,3162.9,2022-11-11,0.0371,11805.108600,-3194.891400

In [10]:
# might need to consider picking a single implied S (maybe one closest to at the money?)
def get_at_the_money(group): 
    return group.iloc[(group['moneyness'].abs()).argmin()] # for each date, get most at the money strike
at_the_money_df = merged_data.groupby('quote_date').apply(get_at_the_money)[['quote_date', 'implied_S']] # pull out the calculated S for most at the money strike
at_the_money_df.reset_index(drop=True, inplace=True)
merged_data = pd.merge(merged_data, at_the_money_df, left_on='quote_date', right_on='quote_date', how='left')
merged_data

,quote_date,expiration_C,strike,option_type_C,bid_1545_C,ask_1545_C,expiration_P,option_type_P,bid_1545_P,ask_1545_P,date,rate,implied_S_x,moneyness,implied_S_y
0,2018-01-12,2018-02-09,5400.0,C,1347.00,1368.30,2018-02-09,P,0.05,3.1,2018-01-12,0.0131,6750.221453,1350.221453,6751.233067
1,2018-01-12,2018-02-09,5500.0,C,1248.00,1269.00,2018-02-09,P,0.25,3.7,2018-01-12,0.0131,6750.563054,1250.563054,6751.233067
2,2018-01-12,2018-02-09,5600.0,C,1151.60,1165.90,2018-02-09,P,0.65,4.2,2018-01-12,0.0131,6750.254655,1150.254655,6751.233067
3,2018-01-12,2018-02-09,5700.0,C,1052.40,1066.70,2018-02-09,P,1.70,4.3,2018-01-12,0.0131,6750.371256,1050.371256,6751.233067
4,2018-01-12,2018-02-09,5800.0,C,953.10,967.40,2018-02-09,P,2.40,5.1,2018-01-12,0.0131,6750.212857,950.212857,6751.233067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10893,2022-11-11,2022-12-09,14600.0,C,0.20,2.60,2022-12-09,P,2740.00,2764.7,2022-11-11,0.0371,11804.796038,-2795.203962,11805.333099
10894,2022-11-11,2022-12-09,14700.0,C,0.10,2.40,2022-12-09,P,2839.40,2864.2,2022-11-11,0.0371,11804.892928,-2895.107072,11805.333099
10895,2022-11-11,2022-12-09,14800.0,C,0.05,2.25,2022-12-09,P,2939.00,2963.8,2022-11-11,0.0371,11804.889819,-2995.110181,11805.333099
10896,2022-11-11,2022-12-09,14900.0,C,0.00,2.10,2022-12-09,P,3038.60,3063.3,2022-11-11,0.0371,11804.936710,-3095.063290,11805.333099
10897,2022-11-11,2022-12-09,15000.0,C,0.00,1.95,2022-12-09,P,3137.90,3162.9,2022-11-11,0.0371,11805.108600,-3194.891400,11805.333099

In [11]:

NDX100 = pd.read_csv("NDX100_Data.csv").ffill()
NDX100.replace('.', pd.NA, inplace=True)
NDX100.columns = ['date','close']
NDX100['date'] = pd.to_datetime(NDX100['date'])
NDX100['close'] = (pd.to_numeric(NDX100['close'])).fillna(method='ffill')
NDX100
#NDX100['close']
NDX100_close = NDX100['close']

#merged_data = pd.merge(merged_data, NDX100['close'], on='date')

In [12]:
strike = merged_data['strike']

bid_call = merged_data['bid_1545_C']
bid_put = merged_data['bid_1545_P']

ask_call = merged_data['ask_1545_C']
ask_put = merged_data['ask_1545_P']

close = NDX100['close']

#option = merged_data['option_type_C']
# option = merged_data['option_type_P']


def pml_formulae(strike, bid, ask, close, option):
    
    if option == "C":
        result = close - strike - (bid - close) / 2
    elif option == "P":
        result = strike -close - (bid - close) / 2
    else:
        result = None
    return result

In [13]:
ga = merged_data.quote_date[0]

In [14]:
ga

Timestamp('2018-01-12 00:00:00')

In [15]:
merged_data

,quote_date,expiration_C,strike,option_type_C,bid_1545_C,ask_1545_C,expiration_P,option_type_P,bid_1545_P,ask_1545_P,date,rate,implied_S_x,moneyness,implied_S_y
0,2018-01-12,2018-02-09,5400.0,C,1347.00,1368.30,2018-02-09,P,0.05,3.1,2018-01-12,0.0131,6750.221453,1350.221453,6751.233067
1,2018-01-12,2018-02-09,5500.0,C,1248.00,1269.00,2018-02-09,P,0.25,3.7,2018-01-12,0.0131,6750.563054,1250.563054,6751.233067
2,2018-01-12,2018-02-09,5600.0,C,1151.60,1165.90,2018-02-09,P,0.65,4.2,2018-01-12,0.0131,6750.254655,1150.254655,6751.233067
3,2018-01-12,2018-02-09,5700.0,C,1052.40,1066.70,2018-02-09,P,1.70,4.3,2018-01-12,0.0131,6750.371256,1050.371256,6751.233067
4,2018-01-12,2018-02-09,5800.0,C,953.10,967.40,2018-02-09,P,2.40,5.1,2018-01-12,0.0131,6750.212857,950.212857,6751.233067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10893,2022-11-11,2022-12-09,14600.0,C,0.20,2.60,2022-12-09,P,2740.00,2764.7,2022-11-11,0.0371,11804.796038,-2795.203962,11805.333099
10894,2022-11-11,2022-12-09,14700.0,C,0.10,2.40,2022-12-09,P,2839.40,2864.2,2022-11-11,0.0371,11804.892928,-2895.107072,11805.333099
10895,2022-11-11,2022-12-09,14800.0,C,0.05,2.25,2022-12-09,P,2939.00,2963.8,2022-11-11,0.0371,11804.889819,-2995.110181,11805.333099
10896,2022-11-11,2022-12-09,14900.0,C,0.00,2.10,2022-12-09,P,3038.60,3063.3,2022-11-11,0.0371,11804.936710,-3095.063290,11805.333099
10897,2022-11-11,2022-12-09,15000.0,C,0.00,1.95,2022-12-09,P,3137.90,3162.9,2022-11-11,0.0371,11805.108600,-3194.891400,11805.333099

In [16]:
merged_data["underlying_close_price"] = \
    merged_data.apply(
        lambda row: NDX100.query("date == @row.quote_date").close.values[0], 
        axis=1
    )

In [17]:
merged_data

,quote_date,expiration_C,strike,option_type_C,bid_1545_C,ask_1545_C,expiration_P,option_type_P,bid_1545_P,ask_1545_P,date,rate,implied_S_x,moneyness,implied_S_y,underlying_close_price
0,2018-01-12,2018-02-09,5400.0,C,1347.00,1368.30,2018-02-09,P,0.05,3.1,2018-01-12,0.0131,6750.221453,1350.221453,6751.233067,6758.54
1,2018-01-12,2018-02-09,5500.0,C,1248.00,1269.00,2018-02-09,P,0.25,3.7,2018-01-12,0.0131,6750.563054,1250.563054,6751.233067,6758.54
2,2018-01-12,2018-02-09,5600.0,C,1151.60,1165.90,2018-02-09,P,0.65,4.2,2018-01-12,0.0131,6750.254655,1150.254655,6751.233067,6758.54
3,2018-01-12,2018-02-09,5700.0,C,1052.40,1066.70,2018-02-09,P,1.70,4.3,2018-01-12,0.0131,6750.371256,1050.371256,6751.233067,6758.54
4,2018-01-12,2018-02-09,5800.0,C,953.10,967.40,2018-02-09,P,2.40,5.1,2018-01-12,0.0131,6750.212857,950.212857,6751.233067,6758.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10893,2022-11-11,2022-12-09,14600.0,C,0.20,2.60,2022-12-09,P,2740.00,2764.7,2022-11-11,0.0371,11804.796038,-2795.203962,11805.333099,11817.01
10894,2022-11-11,2022-12-09,14700.0,C,0.10,2.40,2022-12-09,P,2839.40,2864.2,2022-11-11,0.0371,11804.892928,-2895.107072,11805.333099,11817.01
10895,2022-11-11,2022-12-09,14800.0,C,0.05,2.25,2022-12-09,P,2939.00,2963.8,2022-11-11,0.0371,11804.889819,-2995.110181,11805.333099,11817.01
10896,2022-11-11,2022-12-09,14900.0,C,0.00,2.10,2022-12-09,P,3038.60,3063.3,2022-11-11,0.0371,11804.936710,-3095.063290,11805.333099,11817.01
10897,2022-11-11,2022-12-09,15000.0,C,0.00,1.95,2022-12-09,P,3137.90,3162.9,2022-11-11,0.0371,11805.108600,-3194.891400,11805.333099,11817.01

In [22]:
pml_call = lambda underlying_close_price, strike, bid_1545_C, ask_1545_C: underlying_close_price - strike - (bid_1545_C + ask_1545_C) / 2
pmlcall = pml_call(merged_data['underlying_close_price'], merged_data['strike'], merged_data['bid_1545_C'], merged_data['ask_1545_C'])

pml_put = lambda underlying_close_price, strike, bid_1545_P, ask_1545_P: strike - underlying_close_price - (bid_1545_P + ask_1545_P) / 2
pmlput = pml_put(merged_data['underlying_close_price'], merged_data['strike'], merged_data['bid_1545_P'], merged_data['ask_1545_P'])

ratio = lambda implied_S_y, strike: strike / implied_S_y
sp_ratio = round(ratio(merged_data['implied_S_y'], merged_data['strike']), 2)

In [23]:
merged_data["pmlput"] = pmlput
merged_data["pmlcall"] = pmlcall
merged_data["sp_ratio"] = sp_ratio

merged_data

,quote_date,expiration_C,strike,option_type_C,bid_1545_C,ask_1545_C,expiration_P,option_type_P,bid_1545_P,ask_1545_P,date,rate,implied_S_x,moneyness,implied_S_y,underlying_close_price,pmlput,pmlcall,sp_ratio
0,2018-01-12,2018-02-09,5400.0,C,1347.00,1368.30,2018-02-09,P,0.05,3.1,2018-01-12,0.0131,6750.221453,1350.221453,6751.233067,6758.54,-1360.115,0.890,0.80
1,2018-01-12,2018-02-09,5500.0,C,1248.00,1269.00,2018-02-09,P,0.25,3.7,2018-01-12,0.0131,6750.563054,1250.563054,6751.233067,6758.54,-1260.515,0.040,0.81
2,2018-01-12,2018-02-09,5600.0,C,1151.60,1165.90,2018-02-09,P,0.65,4.2,2018-01-12,0.0131,6750.254655,1150.254655,6751.233067,6758.54,-1160.965,-0.210,0.83
3,2018-01-12,2018-02-09,5700.0,C,1052.40,1066.70,2018-02-09,P,1.70,4.3,2018-01-12,0.0131,6750.371256,1050.371256,6751.233067,6758.54,-1061.540,-1.010,0.84
4,2018-01-12,2018-02-09,5800.0,C,953.10,967.40,2018-02-09,P,2.40,5.1,2018-01-12,0.0131,6750.212857,950.212857,6751.233067,6758.54,-962.290,-1.710,0.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10893,2022-11-11,2022-12-09,14600.0,C,0.20,2.60,2022-12-09,P,2740.00,2764.7,2022-11-11,0.0371,11804.796038,-2795.203962,11805.333099,11817.01,30.640,-2784.390,1.24
10894,2022-11-11,2022-12-09,14700.0,C,0.10,2.40,2022-12-09,P,2839.40,2864.2,2022-11-11,0.0371,11804.892928,-2895.107072,11805.333099,11817.01,31.190,-2884.240,1.25
10895,2022-11-11,2022-12-09,14800.0,C,0.05,2.25,2022-12-09,P,2939.00,2963.8,2022-11-11,0.0371,11804.889819,-2995.110181,11805.333099,11817.01,31.590,-2984.140,1.25
10896,2022-11-11,2022-12-09,14900.0,C,0.00,2.10,2022-12-09,P,3038.60,3063.3,2022-11-11,0.0371,11804.936710,-3095.063290,11805.333099,11817.01,32.040,-3084.040,1.26
10897,2022-11-11,2022-12-09,15000.0,C,0.00,1.95,2022-12-09,P,3137.90,3162.9,2022-11-11,0.0371,11805.108600,-3194.891400,11805.333099,11817.01,32.590,-3183.965,1.27

In [24]:
#set the upper and lower boundaries

ratio_max = merged_data.groupby("quote_date")["sp_ratio"].max()
ratio_min = merged_data.groupby("quote_date")["sp_ratio"].min()
min_max = np.min(ratio_max)
max_min = np.max(ratio_min)
print(np.min(ratio_max))
print(np.max(ratio_min))

1.09
0.8

In [25]:
#find the lowest qty of strike price

merged_data.query("@max_min <= sp_ratio <= @min_max")
merged_data2 = merged_data.query("@max_min <= sp_ratio <= @min_max")
strike_num = merged_data2.groupby("quote_date")["strike"].nunique()
print(np.max(strike_num))
print(np.min(strike_num))

195
42

In [69]:
np.random.uniform(low= 0, high=118, size=10)

array([110.71050065, 105.6127434 ,   9.38358829,   1.5169458 ,
         0.55679497,  60.86301094, 117.13754575,  38.10941402,
        26.85103694,  90.04417451])

In [60]:
ga2 = np.array([1, 7, 9, 10])
ga2

array([ 1,  7,  9, 10])

In [61]:
temporal_data.iloc[ga2]

,quote_date,expiration_C,strike,option_type_C,bid_1545_C,ask_1545_C,expiration_P,option_type_P,bid_1545_P,ask_1545_P,date,rate,implied_S_x,moneyness,implied_S_y,underlying_close_price,pmlput,pmlcall,sp_ratio
1,2018-01-12,2018-02-09,5500.0,C,1248.0,1269.0,2018-02-09,P,0.25,3.7,2018-01-12,0.0131,6750.563054,1250.563054,6751.233067,6758.54,-1260.515,0.04,0.81
7,2018-01-12,2018-02-09,6025.0,C,731.5,745.7,2018-02-09,P,5.10,7.9,2018-01-12,0.0131,6750.568959,725.568959,6751.233067,6758.54,-740.040,-5.06,0.89
9,2018-01-12,2018-02-09,6075.0,C,682.2,696.3,2018-02-09,P,5.90,8.6,2018-01-12,0.0131,6750.414760,675.414760,6751.233067,6758.54,-690.790,-5.71,0.90
10,2018-01-12,2018-02-09,6100.0,C,658.0,672.1,2018-02-09,P,6.40,9.0,2018-01-12,0.0131,6750.737660,650.737660,6751.233067,6758.54,-666.240,-6.51,0.90

In [65]:
temporal_data = merged_data.query("quote_date=='2018-01-12'")
temporal_data#.strike.nunique()

,quote_date,expiration_C,strike,option_type_C,bid_1545_C,ask_1545_C,expiration_P,option_type_P,bid_1545_P,ask_1545_P,date,rate,implied_S_x,moneyness,implied_S_y,underlying_close_price,pmlput,pmlcall,sp_ratio
0,2018-01-12,2018-02-09,5400.0,C,1347.0,1368.30,2018-02-09,P,0.05,3.1,2018-01-12,0.0131,6750.221453,1350.221453,6751.233067,6758.54,-1360.115,0.890,0.80
1,2018-01-12,2018-02-09,5500.0,C,1248.0,1269.00,2018-02-09,P,0.25,3.7,2018-01-12,0.0131,6750.563054,1250.563054,6751.233067,6758.54,-1260.515,0.040,0.81
2,2018-01-12,2018-02-09,5600.0,C,1151.6,1165.90,2018-02-09,P,0.65,4.2,2018-01-12,0.0131,6750.254655,1150.254655,6751.233067,6758.54,-1160.965,-0.210,0.83
3,2018-01-12,2018-02-09,5700.0,C,1052.4,1066.70,2018-02-09,P,1.70,4.3,2018-01-12,0.0131,6750.371256,1050.371256,6751.233067,6758.54,-1061.540,-1.010,0.84
4,2018-01-12,2018-02-09,5800.0,C,953.1,967.40,2018-02-09,P,2.40,5.1,2018-01-12,0.0131,6750.212857,950.212857,6751.233067,6758.54,-962.290,-1.710,0.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,2018-01-12,2018-02-09,7600.0,C,0.0,1.70,2018-02-09,P,830.00,851.0,2018-01-12,0.0131,6752.111675,-847.888325,6751.233067,6758.54,0.960,-842.310,1.13
114,2018-01-12,2018-02-09,7700.0,C,0.0,1.45,2018-02-09,P,929.90,951.0,2018-01-12,0.0131,6751.928276,-948.071724,6751.233067,6758.54,1.010,-942.185,1.14
115,2018-01-12,2018-02-09,7800.0,C,0.0,1.25,2018-02-09,P,1029.60,1051.0,2018-01-12,0.0131,6751.869877,-1048.130123,6751.233067,6758.54,1.160,-1042.085,1.16
116,2018-01-12,2018-02-09,7900.0,C,0.0,1.10,2018-02-09,P,1129.40,1150.8,2018-01-12,0.0131,6751.886478,-1148.113522,6751.233067,6758.54,1.360,-1142.010,1.17
117,2018-01-12,2018-02-09,8000.0,C,0.0,1.00,2018-02-09,P,1229.00,1250.5,2018-01-12,0.0131,6752.078079,-1247.921921,6751.233067,6758.54,1.710,-1241.960,1.18

In [83]:
import random

In [129]:
temporal_data = merged_data.query("quote_date=='2018-01-12'")
indices = temporal_data.index
min_index = indices[0]
max_index = indices[-1]
test = random.sample(range(min_index, max_index), 42)

#print(test)

def random_selection(data):
    # part 0: extra definition 
    indices_temp = data.index
    min_index = indices_temp[0]
    max_index = indices_temp[-1] 

    # part 1: random selection
    rand = random.sample(range(min_index, max_index), 42)
    pml_put = data.pmlput
    pml_call = data.pmlcall
    random_pml_put = pml_put.loc[rand]
    random_pml_call = pml_call.loc[rand]

    # part 2: sorting process
    sort_pml_random_put = random_pml_put.sort_values(axis=0)
    sort_pml_random_call = random_pml_call.sort_values(axis=0)

    # return values >>> RANDOM CALL, RANDOM PUT
    return sort_pml_random_call.values, sort_pml_random_put.values

In [142]:
dataframe_result = merged_data.groupby("quote_date").apply(lambda grouped_sub_df: random_selection(grouped_sub_df))
dataframe_result

quote_date
2018-01-12    ([-1142.01, -742.51, -642.7850000000001, -592....
2018-02-09    ([-1689.8199999999997, -1214.8199999999997, -1...
2018-03-16    ([-607.0000000000002, -582.2000000000002, -557...
2018-04-13    ([-576.7599999999999, -391.30999999999983, -32...
2018-05-11    ([-948.3899999999996, -748.6399999999996, -648...
2018-06-15    ([-1344.8649999999998, -1244.9149999999997, -1...
2018-07-13    ([-1224.7050000000004, -231.5800000000003, -22...
2018-08-17    ([-1924.96, -1824.96, -1624.96, -1524.96, -142...
2018-09-14    ([-1755.05, -1655.05, -1555.05, -1255.075, -10...
2018-10-12    ([-1144.1399999999999, -1044.19, -944.29, -770...
2018-11-16    ([-1333.6049999999996, -1233.8049999999996, -9...
2018-12-14    ([-1705.865, -1505.915, -1405.94, -1206.065, -...
2019-01-11    ([-1798.8750000000005, -1698.8750000000005, -1...
2019-02-08    ([-1387.195, -1287.2199999999998, -1187.245, -...
2019-03-15    ([-893.4600000000003, -693.9600000000003, -569...
2019-04-12    ([-1272.0000000000005, -747.2750000000003, -72...
2019-05-17    ([-1396.5699999999997, -1296.5949999999998, -1...
2019-06-14    ([-1421.1150000000002, -1121.4650000000004, -7...
2019-07-12    ([-485.2600000000002, -367.81000000000023, -26...
2019-08-16    ([-1296.0650000000003, -1196.0900000000004, -9...
2019-09-13    ([-584.1500000000002, -416.25000000000017, -40...
2019-10-11    ([-1056.48, -856.6300000000001, -657.655000000...
2019-11-15    ([-884.7549999999995, -585.8799999999995, -511...
2019-12-13    ([-1212.4650000000008, -937.5150000000009, -88...
2020-01-17    ([-530.6200000000005, -398.37000000000046, -38...
2020-02-14    ([-1077.1950000000002, -488.7200000000001, -37...
2020-05-15    ([-1250.3350000000005, -862.2600000000006, -74...
2020-06-12    ([-1243.6299999999997, -1170.8799999999997, -1...
2020-07-17    ([-2156.8800000000006, -2057.2300000000005, -1...
2020-08-14    ([-2237.124999999999, -1343.4999999999993, -13...
2020-09-11    ([-2865.3750000000005, -2815.5250000000005, -2...
2020-10-16    ([-4048.58, -3648.73, -2601.38, -2427.58, -240...
2020-11-13    ([-2763.7599999999998, -2464.06, -2439.1349999...
2020-12-11    ([-2925.465, -2825.5150000000003, -2425.990000...
2021-01-15    ([-2646.8199999999997, -2521.9199999999996, -2...
2021-02-12    ([-3092.774999999999, -2992.8499999999995, -22...
2021-03-12    ([-3213.5099999999993, -3038.609999999999, -23...
2021-04-16    ([-2558.965, -2334.215, -2234.3900000000003, -...
2021-05-14    ([-4587.5650000000005, -3587.665, -3512.665, -...
2021-06-11    ([-2777.225000000001, -2752.225000000001, -252...
2021-07-16    ([-3294.145000000001, -3244.170000000001, -314...
2021-08-13    ([-3863.6449999999995, -3363.72, -3213.8949999...
2021-09-10    ([-3484.75, -3309.825, -2984.95, -2884.975, -2...
2021-10-15    ([-3753.33, -3278.355, -3078.38, -3003.38, -28...
2021-11-12    ([-2776.5600000000004, -2552.1100000000006, -2...
2021-12-17    ([-4999.115000000001, -4899.115000000001, -449...
2022-01-14    ([-4889.235, -4489.235, -4289.235, -3639.23499...
2022-02-11    ([-5247.61, -4722.61, -4672.61, -4647.61, -424...
2022-03-11    ([-5598.52, -5198.495, -4573.595, -4498.595, -...
2022-05-13    ([-5338.125, -5288.125, -5213.175, -4988.25, -...
2022-06-10    ([-4367.530000000001, -3617.7050000000004, -30...
2022-07-15    ([-2517.854999999999, -2169.504999999999, -211...
2022-08-12    ([-2909.854999999999, -2834.954999999999, -281...
2022-09-16    ([-4839.220000000001, -4639.220000000001, -443...
2022-10-14    ([-4108.59, -2910.2150000000006, -2810.7150000...
2022-11-11    ([-2984.14, -2784.39, -2285.915, -2136.99, -19...
dtype: object

In [153]:
dataset_team = pd.DataFrame
dataset_teamm

pandas.core.frame.DataFrame

In [183]:
temp_team_df = pd.DataFrame(dataframe_result).reset_index()
temp_team_df.columns = ["quote_date", "tuple_info"]
new_team_df = pd.DataFrame(temp_team_df.tuple_info.tolist(), index= temp_team_df.quote_date, columns=["call_ranked_pml", "put_ranked_pml"]).reset_index()
new_team_df.head()

,quote_date,call_ranked_pml,put_ranked_pml
0,2018-01-12,"[-1142.01, -742.51, -642.7850000000001, -592.9...","[-1360.115, -1260.5149999999999, -764.64, -740..."
1,2018-02-09,"[-1689.8199999999997, -1214.8199999999997, -10...","[-2415.1800000000003, -1818.8800000000003, -15..."
2,2018-03-16,"[-607.0000000000002, -582.2000000000002, -557....","[-1423.9249999999997, -1126.3999999999999, -83..."
3,2018-04-13,"[-576.7599999999999, -391.30999999999983, -329...","[-1829.6650000000002, -1729.7900000000002, -16..."
4,2018-05-11,"[-948.3899999999996, -748.6399999999996, -648....","[-2153.5850000000005, -1953.6600000000003, -17..."

In [187]:
call_pml_df = pd.DataFrame(new_team_df.call_ranked_pml.tolist(), index= new_team_df.quote_date)
put_pml_df = pd.DataFrame(new_team_df.put_ranked_pml.tolist(), index= new_team_df.quote_date)

In [188]:
call_pml_df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
quote_date,,,,,,,,,,,,,,,,,,,,,
2018-01-12,-1142.010,-742.510,-642.785,-592.985,-518.560,-420.235,-371.910,-324.460,-278.910,-215.660,...,-18.81,-18.56,-15.46,-12.06,-9.91,-5.71,-5.06,-4.66,0.04,0.89
2018-02-09,-1689.820,-1214.820,-1089.820,-1064.820,-1039.820,-989.820,-914.820,-839.820,-809.820,-769.820,...,-82.67,-69.77,-65.92,-38.67,-34.17,-18.62,-17.32,-0.52,4.43,9.58
2018-03-16,-607.000,-582.200,-557.525,-532.850,-508.300,-483.825,-297.900,-289.400,-277.100,-237.950,...,-46.90,-43.65,-43.55,-41.65,-38.75,-28.45,-22.40,-19.70,-14.70,-11.25
2018-04-13,-576.760,-391.310,-329.160,-309.810,-273.410,-234.310,-225.060,-216.310,-210.910,-205.360,...,-23.01,-11.81,-5.71,-3.61,-1.96,-0.66,1.49,1.94,2.74,2.94
2018-05-11,-948.390,-748.640,-648.915,-549.115,-264.940,-187.890,-155.640,-141.340,-128.090,-116.090,...,1.71,1.76,2.61,2.91,3.11,3.21,3.31,3.71,4.01,4.51
2018-06-15,-1344.865,-1244.915,-1144.965,-845.140,-745.890,-472.590,-306.790,-263.290,-242.740,-223.290,...,-26.09,-23.84,-22.64,-18.44,-13.09,-11.84,-8.99,-8.19,-6.44,-4.79
2018-07-13,-1224.705,-231.580,-228.030,-220.930,-207.530,-197.980,-183.030,-177.430,-169.180,-166.680,...,-22.23,-21.73,-19.28,-18.38,-15.63,-11.58,-9.08,-7.53,-6.98,-5.88
2018-08-17,-1924.960,-1824.960,-1624.960,-1524.960,-1424.960,-1224.960,-1099.960,-1024.960,-999.960,-974.960,...,-48.16,-44.21,-42.36,-33.71,-29.56,-28.71,-25.56,-20.81,-19.61,-14.01
2018-09-14,-1755.050,-1655.050,-1555.050,-1255.075,-1055.075,-955.100,-855.125,-755.175,-555.950,-482.025,...,-27.60,-21.25,-19.25,-16.65,-14.10,-11.95,-11.10,-9.70,-9.25,-8.75
2018-10-12,-1144.140,-1044.190,-944.290,-770.190,-671.740,-647.640,-623.240,-506.940,-441.940,-401.040,...,-19.04,-16.39,-15.34,-14.54,-12.34,-11.44,-8.69,-6.89,-2.74,-0.69
2018-11-16,-1333.605,-1233.805,-934.555,-785.980,-761.380,-736.880,-688.280,-616.430,-569.530,-523.630,...,-88.58,-73.08,-61.63,-52.43,-45.63,-40.98,-37.33,-32.88,-29.18,-28.43
2018-12-14,-1705.865,-1505.915,-1405.940,-1206.065,-1006.590,-833.865,-809.265,-784.890,-760.790,-736.690,...,-93.49,-72.29,-55.69,-42.14,-24.54,-13.94,-10.04,-5.64,-2.09,-2.04
2019-01-11,-1798.875,-1698.875,-1098.975,-799.700,-750.125,-700.750,-676.225,-627.500,-442.350,-400.400,...,-11.65,-11.00,-6.35,-4.95,-4.05,-3.30,-2.65,-1.70,-0.50,0.00
2019-02-08,-1387.195,-1287.220,-1187.245,-1087.320,-491.220,-467.170,-419.920,-374.270,-352.270,-309.770,...,15.93,21.63,22.23,23.48,23.93,24.13,24.43,24.43,24.93,25.23
2019-03-15,-893.460,-693.960,-569.860,-376.310,-309.560,-288.560,-268.210,-166.660,-141.210,-119.560,...,-13.41,-12.36,-12.31,-10.66,-10.41,-10.26,-9.01,-8.41,-8.36,-8.21
2019-04-12,-1272.000,-747.275,-722.325,-697.375,-647.575,-622.675,-597.775,-572.950,-548.200,-425.950,...,-10.40,-9.70,-9.35,-8.80,-8.70,-8.50,-6.90,-6.50,-6.45,-1.65
2019-05-17,-1396.570,-1296.595,-1096.620,-996.670,-946.695,-772.045,-722.245,-697.395,-598.520,-574.070,...,-33.82,-28.57,-24.27,-21.72,-15.52,-14.27,-13.57,-13.27,-12.67,-11.97
2019-06-14,-1421.115,-1121.465,-723.540,-625.440,-529.440,-437.940,-374.340,-354.390,-298.940,-250.590,...,-23.19,-22.99,-22.74,-22.29,-21.84,-19.59,-18.09,-17.59,-17.39,-17.19
2019-07-12,-485.260,-367.810,-263.660,-245.260,-227.810,-195.960,-181.410,-175.810,-167.810,-155.110,...,-4.21,-3.76,-3.41,-2.16,-0.96,-0.36,0.49,0.74,1.84,2.24
2019-08-16,-1296.065,-1196.090,-996.140,-871.240,-846.290,-771.490,-721.715,-696.915,-574.165,-480.040,...,-40.34,-32.54,-27.94,-26.69,-25.49,-20.09,-18.59,-13.39,-8.39,-6.84
2019-09-13,-584.150,-416.250,-407.100,-398.050,-389.100,-354.150,-328.950,-320.900,-312.900,-305.100,...,-19.90,-18.30,-16.75,-15.55,-13.45,-12.05,-9.60,-8.20,-7.45,-7.25
2019-10-11,-1056.480,-856.630,-657.655,-633.055,-584.280,-512.880,-489.630,-422.530,-246.580,-171.980,...,-39.08,-38.33,-37.68,-36.33,-34.78,-33.78,-33.43,-33.13,-32.88,-31.93
2019-11-15,-884.755,-585.880,-511.730,-438.380,-414.280,-362.180,-352.930,-321.030,-225.230,-203.330,...,12.47,14.07,14.27,15.02,15.17,15.57,16.52,17.32,17.77,17.82
2019-12-13,-1212.465,-937.515,-887.540,-862.540,-712.765,-663.040,-638.190,-489.490,-464.940,-440.540,...,-17.09,-16.19,-16.09,-15.64,-15.39,-15.04,-13.79,-13.69,-12.59,-12.29
2020-01-17,-530.620,-398.370,-389.370,-362.670,-345.270,-336.720,-295.470,-250.020,-235.970,-209.470,...,2.53,3.43,6.03,8.43,14.88,17.03,17.78,18.08,18.18,18.73
2020-02-14,-1077.195,-488.720,-378.720,-358.220,-300.920,-266.370,-193.670,-181.470,-130.720,-99.970,...,10.38,10.38,11.13,11.48,11.63,12.13,12.33,14.43,16.23,16.83
2020-05-15,-1250.335,-862.260,-748.860,-727.260,-705.710,-622.610,-475.760,-443.210,-343.860,-319.160,...,34.14,36.09,37.29,37.74,41.24,41.39,41.44,41.44,41.99,42.69
2020-06-12,-1243.630,-1170.880,-1099.080,-981.430,-679.930,-551.630,-442.130,-427.980,-362.630,-338.780,...,9.72,9.77,12.02,15.02,27.37,28.87,35.22,35.87,36.67,37.37
2020-07-17,-2156.880,-2057.230,-1536.430,-1462.730,-1219.830,-1172.080,-873.730,-830.680,-485.480,-416.680,...,-50.33,-48.03,-40.98,-35.78,-33.93,-33.33,-32.73,-29.78,-18.43,-14.38
2020-08-14,-2237.125,-1343.500,-1319.000,-1245.450,-1172.650,-1148.550,-1100.550,-1029.250,-935.950,-822.900,...,16.65,18.40,21.55,21.80,23.10,23.65,24.15,29.55,30.15,31.00
2020-09-11,-2865.375,-2815.525,-2765.650,-2715.750,-2591.150,-2541.275,-2491.475,-2217.950,-2193.050,-2168.250,...,-539.70,-402.20,-212.95,-162.25,-140.65,-108.45,-89.30,-64.55,-54.55,-24.55
2020-10-16,-4048.580,-3648.730,-2601.380,-2427.580,-2402.780,-2303.730,-2057.130,-1837.280,-1812.980,-1525.730,...,-52.33,-47.18,-43.73,-43.28,-39.73,-34.53,-33.33,-32.68,-32.13,-32.13
2020-11-13,-2763.760,-2464.060,-2439.135,-2339.385,-2214.710,-2164.910,-2139.985,-1767.210,-1668.060,-1495.510,...,-49.91,-48.81,-47.71,-44.71,-38.81,-34.16,-30.01,-29.51,-28.61,-16.51
2020-12-11,-2925.465,-2825.515,-2425.990,-2101.915,-1977.415,-1952.540,-1902.890,-1803.690,-1606.140,-1507.990,...,-6.84,-3.59,-1.44,-1.04,-0.64,1.86,6.21,9.31,11.96,13.21
2021-01-15,-2646.820,-2521.920,-2297.345,-2247.420,-1998.095,-1848.845,-1824.020,-1749.595,-1601.170,-1527.370,...,-79.87,-67.62,-60.72,-45.32,-44.22,-43.22,-20.42,-14.07,-12.37,-11.87
2021-02-12,-3092.775,-2992.850,-2293.575,-2069.175,-1572.250,-1399.600,-1375.000,-1252.600,-1107.400,-918.350,...,-17.80,-13.75,-7.90,-1.95,-1.05,7.90,18.65,19.05,24.50,25.30
2021-03-12,-3213.510,-3038.610,-2365.810,-2117.760,-2043.510,-1895.310,-1821.410,-1723.060,-1674.110,-1503.660,...,-21.81,-17.96,-13.06,-11.46,-10.51,-10.06,-9.66,-7.31,-6.61,-1.51
2021-04-16,-2558.965,-2334.215,-2234.390,-2059.640,-1959.865,-1810.515,-1339.790,-1024.140,-929.740,-860.390,...,-6.49,-3.79,-3.24,-0.94,-0.89,-0.19,1.06,1.11,1.76,1.96
2021-05-14,-4587.565,-3587.665,-3512.665,-3487.665,-3437.665,-3212.740,-3087.790,-2762.990,-2638.190,-2563.315,...,-144.54,-138.79,-137.04,-128.99,-114.74,-113.79,-103.39,-95.59,-94.59,-92.24
2021-06-11,-2777.225,-2752.225,-2527.275,-2477.300,-2352.350,-2102.675,-2027.825,-2002.875,-1878.250,-1778.625,...,4.90,7.60,8.80,14.75,16.65,17.70,18.60,21.55,23.85,24.25
2021-07-16,-3294.145,-3244.170,-3144.195,-2944.270,-2619.395,-1747.170,-1722.345,-1697.470,-1548.520,-1498.970,...,-8.62,-8.32,-7.72,-6.82,-5.02,-4.87,-1.77,-0.67,0.33,3.28
2021-08-13,-3863.645,-3363.720,-3213.895,-2938.920,-2788.970,-2738.970,-2564.020,-2539.045,-2464.095,-1989.570,...,7.28,7.93,9.13,9.33,9.63,11.53,12.53,15.53,16.63,16.98
2021-09-10,-3484.750,-3309.825,-2984.950,-2884.975,-2710.075,-2585.225,-2485.250,-2410.325,-2160.650,-1711.775,...,-69.40,-65.45,-59.65,-54.20,-52.10,-51.40,-48.35,-48.10,-36.45,-32.10
2021-10-15,-3753.330,-3278.355,-3078.380,-3003.380,-2853.405,-2453.580,-2428.605,-2228.780,-2078.955,-1555.030,...,15.57,15.87,16.82,17.02,17.67,19.72,20.72,21.07,22.07,23.42
2021-11-12,-2776.560,-2552.110,-2228.085,-1706.110,-1631.910,-1240.460,-1120.760,-823.460,-738.810,-548.560,...,-4.11,-3.76,-3.41,-3.06,-1.21,0.59,0.89,1.09,1.69,2.69
2021-12-17,-4999.115,-4899.115,-4499.140,-3699.240,-3174.465,-3024.590,-2924.690,-2874.765,-2775.040,-2625.540,...,-107.04,-85.74,-78.49,-69.54,-69.54,-55.79,-53.19,-51.64,-51.39,-36.99
2022-01-14,-4889.235,-4489.235,-4289.235,-3639.235,-3039.310,-3014.310,-2839.385,-2789.410,-2439.785,-2389.910,...,-216.86,-183.16,-163.16,-50.61,-34.86,-32.81,-31.61,-10.81,-5.96,-3.01
2022-02-11,-5247.610,-4722.610,-4672.610,-4647.610,-4247.635,-4222.635,-3622.760,-3547.760,-3073.010,-2573.810,...,-123.96,-115.71,-67.26,-29.71,-16.81,-2.11,5.09,7.89,12.89,25.09
2022-03-11,-5598.520,-5198.495,-4573.595,-4498.595,-4398.595,-4148.645,-3948.720,-3923.720,-3623.820,-3523.945,...,-180.92,-158.02,-134.02,-89.62,-88.57,-81.42,-77.02,-65.82,-59.72,-55.72
2022-05-13,-5338.125,-5288.125,-5213.175,-4988.250,-4863.325,-4713.475,-4263.725,-4163.800,-3988.925,-3814.100,...,-249.05,-229.80,-189.55,-169.30,-164.50,-110.65,-88.65,-35.95,-19.05,-13.15
2022-06-10,-4367.530,-3617.705,-3093.605,-3043.680,-2968.680,-2844.180,-2620.130,-2322.430,-2052.230,-2026.755,...,-141.78,-123.53,-121.18,-117.38,-107.38,-105.78,-95.68,-91.38,-69.78,-68.98
2022-07-15,-2517.855,-2169.505,-2119.855,-2045.355,-1626.380,-1129.230,-1084.480,-1062.380,-1018.880,-892.730,...,-16.98,-15.48,-12.58,6.12,9.72,12.52,14.87,16.12,18.82,21.37
2022-08-12,-2909.855,-2834.955,-2810.005,-2660.255,-2410.880,-2361.030,-2186.780,-2161.880,-2112.155,-1963.130,...,-19.78,-17.03,-13.78,-8.93,-1.53,2.92,5.42,6.47,7.77,12.72
2022-09-16,-4839.220,-4639.220,-4439.220,-3939.220,-3689.220,-3264.445,-2864.995,-2740.445,-2591.120,-2392.395,...,-155.17,-131.62,-87.87,-79.22,-70.97,-68.42,-64.42,-49.02,-33.82,-17.57
2022-10-14,-4108.590,-2910.215,-2810.715,-2760.965,-2661.690,-2636.815,-2562.490,-2512.940,-2463.540,-2438.840,...,-148.84,-145.74,-129.19,-113.94,-110.24,-103.34,-88.34,-84.54,-81.24,-78.34
2022-11-11,-2984.140,-2784.390,-2285.915,-2136.990,-1963.740,-1717.840,-1644.640,-1262.490,-1170.540,-1102.890,...,-30.79,-29.69,-27.39,-26.49,-22.54,-21.94,-21.14,-16.14,-16.04,-11.19

In [189]:
call_pml_df.to_csv("call_pml_df.csv")

In [190]:
put_pml_df.to_csv("put_pml_df.csv")